<!DOCTYPE html>
<html lang="en">

<head>
    {%include meta.html%}
</head>

<body class="">
    <div class="mx-auto my-auto w-screen">
        <div class="grid place-content-center min-w-full min-h-full py-10 px-7 my-auto min-h-screen absolute z-0">
            <!-- <div class="bg-black h-full min-w-full absolute z-10"
                style="background-image: url({{site.Cover_Image}}); filter: blur(15px); background-position: center; background-size: cover;">
            </div> -->
            <div class="h-full w-full absolute z-20"></div>
            <span class="text-center z-30">
                <img id="image"
                    class="2xl:w-1/6 xl:w-1/6 lg:w-1/5 md:w-1/3 w-1/2 sm:1/2 rounded-full m-auto shadow-2xl lg:border-2 md:border-2 sm:border-2"
                    src="https://images.weserv.nl/?url={{site.Image_URL}}&h=300&w=300&fit=cover&mask=circle&l=9&output=webp&q=63"
                    onError="this.onerror=null;this.src='https://github.com/{{site.github_username}}.png';"
                    alt="{{site.name}}">
                <br>
                <h1 class="text-5xl text-center font-semibold mt-3 mx-auto align-right">{{site.name}}</h1>
                <h1 class="text-5xl text-center font-semibold mt-3 mx-auto align-right">{{site.surname}}</h1>
                <hr class="my-2 opacity-25" style="height: 4px; background-color: black;">
                <div class="font-semibold  mt-3 mx-auto align-right red-font">{{site.tagline1}}</div>
                <div class="font-semibold  mt-3 align-right red-font">{{site.tagline2}}</div>
                <div class="font-semibold  mt-3 align-right red-font">{{site.tagline3}}</div>
                <br>

                <div class="grid 2xl:grid-cols-5 xl:grid-cols-1 lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1">
                    {% unless site.links == "" %}
                    {% include links.html %}
                    {% endunless %}
                </div>
                </div>
            </span>
            {% if site.footer and site.footer == 'Yes' or site.footer == 'yes' or site.footer == 'y' or site.footer == 'Y' %}<div
                class="flex absolute mt-5 z-20 bottom-0 bg-opacity-50 w-full p-2 justify-center">Made
                with&nbsp;<i class="fas fa-heart mt-1 mx-0.5 text-red-500"></i>&nbsp;by&nbsp;<a
                    class="underline font-semibold" href="https://harsh98trivedi.github.io">Harsh Trivedi</a></div>{% endif %}
        </div>
    </div>
</body>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1S7TRB402C"></script>
<script>
    for(var el of document.getElementsByClassName("vcard")) {
        console.log(el.parentElement.parentElement);
        let button = el.parentElement.parentElement;
        console.log("VCARD4", el);
        button.addEventListener("click", function (event) {
            event.preventDefault()
var vcard = `BEGIN:VCARD
VERSION:2.1
N:Rozalen;Paula A.;G.;;
FN:Paula A. G. Rozalen
TEL;WORK:+34678987323
EMAIL:p.rozalen@roandca.com
ADR;PREF;WORK:;;Nave 12 Calle La Grania 86;Madrid;ES;28108;Spain
ORG:RO&CA Design
TITLE;CHARSET=UTF-8;ENCODING=QUOTED-PRINTABLE:=44=69=73=65=C3=B1=61=64=6F=72=61=20=49=6E=64=75=73=74=72=69=61=6C=2C=
=20=44=69=72=65=63=74=6F=72=61=20=47=65=6E=65=72=61=6C=20=64=65=20=52=
=4F=26=43=41=20=44=65=73=69=67=6E
PHOTO;ENCODING=BASE64;JPEG:/9j/4AAQSkZJRgABAQAAAQABAAD/4gIoSUNDX1BST0ZJTEU
AAQEAAAIYAAAAAAQwAABtbnRyUkdCIFhZWiAAAAAAAAAAAAAAAABhY3NwAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAQAA9tYAAQAAAADTLQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAlkZXNjAAAA8AAAAHRyWFlaAAABZAAAABRnWFlaAA
ABeAAAABRiWFlaAAABjAAAABRyVFJDAAABoAAAAChnVFJDAAABoAAAAChiVFJDAAABoAAAACh
3dHB0AAAByAAAABRjcHJ0AAAB3AAAADxtbHVjAAAAAAAAAAEAAAAMZW5VUwAAAFgAAAAcAHMA
UgBHAEIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIA
AAAAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z3BhcmEAAAAAAAQAAAACZmYAAPK
nAAANWQAAE9AAAApbAAAAAAAAAABYWVogAAAAAAAA9tYAAQAAAADTLW1sdWMAAAAAAAAAAQAA
AAxlblVTAAAAIAAAABwARwBvAG8AZwBsAGUAIABJAG4AYwAuACAAMgAwADEANv/bAEMAAwICA
wICAwMDAwQDAwQFCAUFBAQFCgcHBggMCgwMCwoLCw0OEhANDhEOCwsQFhARExQVFRUMDxcYFh
QYEhQVFP/bAEMBAwQEBQQFCQUFCRQNCw0UFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQ
UFBQUFBQUFBQUFBQUFBQUFBQUFP/AABEIAGAAYAMBIgACEQEDEQH/xAAcAAACAwEBAQEAAAAA
AAAAAAAGBwQFCAMCAQD/xAA5EAACAgEDAwIEBQIFAgcAAAABAgMRBAUSIQAGMRNBByJRYRQyc
YGRocEVsdHh8CNSJDNCQ2Li8f/EABsBAAIDAQEBAAAAAAAAAAAAAAQFAQMGAgAH/8QAKBEAAg
ICAgEEAgEFAAAAAAAAAQIAAwQREiEiBTFBURMyoRRhgbHB/9oADAMBAAIRAxEAPwCy7hTLyMl
EyywUsF2UflBHnbzXnd/Hn2SWoZaZev5uSru8SOY40LMC7AcD6nkAVfmhXPTp+KvcEMel5kwf
09w9JvDFTQBvnnkgf84TEcMKR6fNIHEL+kHDKWJcsXYAV5/KCOfPjx0sxR2Wm39QckKs/d9jI
xYsSDEyDLlQWimBQWZ93BA+hXeeLFkex6Pu1tEfPixtTkJWeeNmHoqEUSfMgDUK4NhgP/j7WC
pu68oZAxJJCN6E7FI/NQskg8cALXI8Hz56fGgd4aXomnYWPO4klZRNIqoi/MxUO9E2DZv9hYr
oy9iw0sT0AByW+JfZOBlQ6ZjQw+kJVVXWB12BGDbfkrjcfk2jhuPILX1FzklGFLl6gZIY8eKN
Zsl1B5ZOFD1UhLUpKsfv1xxfixo2bqbvNMcWGWJYvSylBAIdrYg+F5FgdMHEzMTU1WXByMfKh
CFVMThlYUQSAPl8Ag+B5+3Sl63X9xHFd6n9TFJ3Bp2BPIcbOxhHMhpTJw1WrHiwWHj6gfLyDR
Ak2HJ2xM/Lpg5t7M5Y2VYjttHJI5Aaj7co3AABL31DsfD1Y3JhtOGURiMvviVRRXaDYBquRzx
976E9U+FZxVrHjKQniiLskUADQrkcCx5B6mu419fE6srW/vejEbmSxY6K2ouJ1nIb1TRVlsjc
Aeb4Ju1s8+TTCGssNPyAsbjIj9IxoNxtASSQRXiySD+98kdM/vf4fjAmLTzSYDCiiohkh2j5W
sE2W4vz/wBv1PSz1nUZNgw3yvxcKjbE4kbbQrna3i69qHPH2PQlvIRPkAp4tKh3MZkMMiyrs2
vTf+Yt3QB4q6q+Of26hSu0zqGFI1WzeRQqx4I8Dg+PPXuM+gu1SCWY7lLWK4IPIFG/r9eosav
veElX2UQLravt44vx/e+iBFRO42fiJ8Qx3Rrken4LIInkZGyJb2ruG0HnxRbyPFH36j44fDxM
WaWVDE2+Ro2I3oSgKtsJPFE835HvR6r8/TosfLOPBjx+rI49Naur/wBzXtxXXTWWWLUkx8dN4
iC46xg3tJ3EeK8Hg/T9eh8Yh6uSjqaj1nGbCyjVY22Hv/aR2WPMx8iAyszEbw7SDd9ObAu2dS
a5rd560T2dpeiaPkY7aljxlBiS22Svq2ZHjpb5+bcXAAHN0PI6zjK82RqGMJH2xZse1R4YgBk
PFi2APHI811ozV+0YO68ePDLzJ6ESZMyRDYrRsWKiyODuVvqQT7eeqcmziVEGw6vyB9DuUuu5
vws1PUpjOoxZ42EWyAqqSgC2KgMV/L4+45B6JOye09ChRc7tzU8gYyljJhzSNsZ9oNHwb+ZPN
+3s19A+tfASPGylztO1UYzoytE+LF88ZABMm4sGLByWBLEihyaUAs7E+HuR2mNMj07LwvRxlV
Mh/wAG0L5cZJJtld1YqGO3gEVtDAE36xq2QhXO5NVVqWbesa+45dLmeeBSA3zjawQfl4558H+
Oqru3GypMB4cYbZAQ8bGgEIN1deKAFc+fvXVtpEixwuNyszOWCGjx7Nf+581+ldrzSPPC5sCN
wTf5WJI+U/z/AE+vS5j4bhyKfya11FZ3P2Fh6lhPl67qfpqsnquT8zkj3Nk+1eBfnzfQ5P8AD
TsSDTJZ3dpoxQ3GZVCiuKUNdjaTR54N8eLzv3tzP7w1LIhyDLFpqqY4wMz01aQx2HoAs1MfBo
Ap4YE7VTpvwC7kTNP4mLT8jFxpDtYHYJmCrt3GlZlPy0LJB3eDZ6Y0aKjk+oJkKwbxq3I/cHb
ei6lpmbHielp+r49yIgQFZ1IDMEIVLIYtVCtrKFJCklWajiy4cwqOSJ1hDNvBNmhzXjmh9+nF
J8D8/Ey1/E5qyUwPoY6Myfl+YfNyao8E+PB+lB8ROyotB0mLIx9zSRuyTMg8NZpibseaA48e/
XQtUNwDbg92JayGwpx1KjRsh8/WpcnIdiEUyKQaUCuGA8eeRz7D9Oomp6ocgzzgMcidy0EUKl
jH9Xoflvk+9UOT81cFyjjwT4+Pvk/ENsKKLurrdzwBRPtYvn6VLPIMpppJmeSxMZCAXZrPO0c
g8e9V0bWAlYUQXPva69nY7JPvDLtxTrkmitMx9b8WkbxPFuBR5KIPIJpuKN8A+eetj9mYHqL+
IZIIseVfVd1sMp+e/fkEtdAVfNWTWIe0NTll7i0/HglGDK8kah2cAVu5kLE8EAA8Dmm4F8bb7
N7kgaH/AAuYehqEBCTRyEcsFvyKsV9hxVcUeluWNOpMaennlQ4Ud9S7k0hApYFkQCwG5Fc349
+B/NddfwwoBowu8cM/HB97Hj3/AODqTJlbAtE7kf8AKbG5b5496F/fx1BacySjHjEe6txUsAq
gG/rfuPboEgD2jIBmHlJWBjiKJnbYhYgGxdir2mzweT/HVHqzB8kAkkmitgUR488fcfbooihT
FiHqfm4JY2QK9jR/1/ysW7gKrks6/lJAZiwNUT7+CP1/t1DghZFOnc6nnHwMXUUeF1jcMQCsn
zmvoR781z/pXXxuzcVnGyEQLyx2MRZFcgCqXn2A8dRdM1vEOSicRSkDlqpr80Pt9uij1rhCEh
VvwB8p+/6fqb8dVA9ahLKyHcFs/Q8TS4TKBuZmHzspc3x719fp/bpd936bBqmJk406MVdTcYA
AsEEH7Hi/5vwempq5WaJkXaaWvcc+Kv6Hpa9zyJiwStNtjIX5ySRXknj/AJ/fqrkQw1D0UNWe
cyf+HkSGTcTN6hFen4vyLqrF/wCfHX2PBGdL8qBZQ9H5kLbfBbjzZ4v79dXLLMmN6fCEq8flm
NVdr+lDyPH69MHtDTfwGiTZGXNAEzWR44HDVPJEdqj23IgZzXgsQTuUitSz8RPmyVmxoDaj2d
n6GIdQg3y/hpF/8RHxGlk7QHDGwdpoofAP7bp7ZyMDX9H0zVUWF4ciBJopVU/lZb/ufNVz4vo
Z0v4eaP3L2oqwM2fj5WJtVJCEEkq8qoIVTQJYXd/z1A+E+t4ulZmb2jJljNn0qZkxpXYl3xm2
tGCTx8ocJ8vAAQGrA6ByhtQSPaNPT7AjsoPvDvUNT9JxChVS1htzeK48+/Bv+Pr12wcHKwkbM
xwuU7qoeOR6FKflIIBrktfvR6jahp88ef62ORJI35VcmiRz5APuff3H26jab8RdPfuIaNlYmT
i6ntY/hpIHb1FVlUMhUEFSGB/7qNkAeFlY5kn6mjsY8PDsfMJcTWUljKPvSZH2lJKDVd2CfN/
88dUvcuTA+1flKGiu42LoAmvsP79d5M/QtZMsMksJobGeVtjrx5B4Nc+39K6jaqdGxV3+riwu
D82+QEkFbBF+fPVzMeMrqVUbfEgyhzsJdQyIzgoQY7IlrbR48E/v+vVhper5EaHHnZRKpABAC
qw8bh/uPt79ep8mIo7PMgUCydy/L4oWfH+g4roTm7j07WAYsOd8p0HE+OnrRqQaosLHuPPPH8
A2b3sRkrb8WHUL9Vz4hARuUEf+mzXniyKr3P6X0rPiHr0On6fJK7hIomVnAO7y9ePc8ih+vjo
qbKyZcPcw9Pa1Fb9yfseRx9v4HSM+OuuGLTcfDx8gRZuXkBiUcgqqfMaPFfNt/wBPFdYy/mtA
g+Zkf09DERah21XuHHilRXGRtiIQDdGqBQ7bSeCFBr6kEjnwysPVGydIix1kDZ2KQqlNxtFCo
KAC2djFWHPCg2b6Au3p8bH7mTdKiypuCeoAoct8qDcTt5v9KBu/e87ceTKycUB4Ezcb/rFsuT
dFKyRqwJJPBN8rR8e5FDQXAkTGUaUxw4ela9Di4+djZKw5YyBHAk+TIk0zI/prBs9YJ6QMpol
aXgGtxBve4u0sfS/h/o3d/acU+FJpDmeWKQrG80RG6eGSyPlBU0QDyAa8MJ3w20wd2aPkaDPt
jSPGk3esonZSUQxsUAIslyT9dtAk2BY9h5c/YGtt25rGLFFpOprBGuM0Ujv+JYERl/UPIcIYy
5VQW2KAAG6Lp/Hk0nrTD+RB8gtj3Diej3CftTuDG7r7dxtVxZJFhdSQsv5kYWCKHuCCP1966r
O8O2my9TwdVwtsOdgyrLA63QIBBDAVwQzKb8hq/Si0DGl+Gff2Z28mDWi5GMMyOQEAIu/aARX
BpooyQWBKIwrcemUspAE0dOoaizfTwKv+o+/vfSEqca0r8TT4uVzUWDv4P1IWmd4Y8sSYWv6E
T/01R5wqyxMQG+er3Dx4APvya6hzav2ppsWn5EXbxnyX27khwlDwnZ5dm2hqPHBJuv1HbIxob
fZ6sW9QCBIQvseP6Wfv9uoEpeeL0mypZIyQGjskt837Wa+n+VAXm5CO4UMfGJ2OQH0Cdf8Af9
xad2QZPfMyYC6bBpWmJsZsVKaNCC+/kAcENVcXt+9dGXb+h4+maPDiJtVUXyyizQBLHj+b+nU
n8FHiROsCBUB+arN8nyb5/wDsf3h63nppunzNHJdA7gzbFHsf396P28dLci38nQ9oxL1gBal4
j+f8mDXfHdEWmYpx6JLJbMT+VR588k3f89ZX+IGv5Wp92ZEskaCPGURRoeKFcg/ezz/Tx08Mq
c6vmZWpyRNNBExEQaMqrmyCwNc0AP3PtXWfNd9TUdfzCKYvkuqEvtqjXn9gP/zphgVhN695lv
VbS4H1uWv4KQaZLLDMYp/XR0KnaFpmAJI8USPm+9fToq0hllx8fJRF9TFYR/g2kpYZJLUhLNk
FaK34KkHcbJhQY0sELuYyJMWYySQAgF14sA0fc1zx54PPU1spJTHquAY0i2uksMbWyjj8y+dp
HIb2IBPINsCdiLNcexGP2ZMYs1EwWLxrvTK2RKWQOODHTLZDNwbBALfMNoIbT9taPmYv4PHgl
nnDuIg2SZCkbsqu6KTdsGaIuGu0j3EXIxVnw0wNOxe5GdnmzI5MV3jRZFBamideLHIHkA8lbF
A8tXRu0cXUsLLw3zpjG88hCLKsLNG8UauAFW96eirbQRW0BvlJ3GVewKwVreLasiD707g1ztb
Xn03Us5cyOHAGFjTBYyTB8yorEKTyrNav4O08mMDpv/Bv4wY/dWJLpmY6x5cKh1EjBjMh4BJr
84qmoUTR8cA01LR21CDI0POzcXMw53W8XKQCYgMjEAh9n5gtfJ/7g5AHOfe7/gTm9uZn+J9ua
hLLMx9aLAkjZZFQAfMJQaBJ3V44r3auicilMqvRUB/sSmjMXGt2rbU+4mpnRZgCJA5NVRscn+
fr/PNdRZ0h9Jdh45FhyRzYI/ex5+nWbexPjtr+HkxaLrGPHJlFWaMTUkz7RaoFqi5IIA4JJAq
+Oj2b4uaimmQZh0LUJUyVH4f0FRmkpS5MdHkABiSPFffrLW419Z0VmupyqLF5K8Os+eHAxJJz
SyWTViqA5JHsP8+P3Q3d/dWTruc+Lhtt01NymSIEmU2OB54sc/pX16592d99x58rrJpk+LhlN
5jblmUKH3EgVt2ndY9gb8EgTXueWNwkunTYqrW6gHoe1DjkUbHFbfoD1CYdieTCcWZ1TeCmHu
UF03tItJt2hKCOLUL7jkn9TXA/nrNEUy5OJkbkqUuSilvlYki/1/MTf2PTP7m+IY1zSDh6bDK
2QVPBUglKI3VXttP19jz46UZYwxJFZjeNjvB/L9OB+nTDFqNYJb5ibPuWxlCHoT//2Q==

END:VCARD
`;
var blob = new Blob([vcard], { type: "text/vcard" });
var url = URL.createObjectURL(blob);

const newLink = document.createElement('a');
newLink.download = "{{site.vcard.name}}" + ".vcf";
newLink.textContent = "{{site.vcard.name}}";
newLink.href = url;

newLink.click();
        });
    }

</script>
</html>
